
.title-container{
    display: flex;
    justify-content: center;
    align-items: center;

}

.contact-container {
    background-color: #f9f9f9;
    padding: 30px 50px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    text-align: left;
}

.contact {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.contact-icon {
    width: 30px;
    height: 30px;
    margin-right: 15px;
    vertical-align: middle;
}


.contact a {
    text-decoration: none;
    color: #333;
    font-size: 18px;
}

.contact a:hover {
    color: #007BFF;
}

.linkedin-social-icon, .git-social-icon {
    margin-top: 15px;
    margin-left: 10px;
    cursor: pointer;
    height: 25px;

}

.git-social-icon{
    margin-right: 10px;
    height:30px;
}

